
body{
    font: 20px Arial, sans serif;
}

.navbar {
    background-color: turquoise;
} 

.quem-somos {
    background-color: palegreen;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: turquoise;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;   
}